* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: hsl(240, 67%, 8%);
}

.container {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: hsl(240, 67%, 8%);
  background-image: url(/starter-code/assets/background-stars.svg);
  background-size: cover;
  color: hsl(0, 0%, 100%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5%;

  text-transform: uppercase;
  font-family: "antonio", sans-serif;
}

.nav h1 {
  font-size: 2.8rem;
}

.nav a {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: hsl(240, 67%, 8%);
  padding: 5%;
}

.menu-icon {
  background-color: blanchedalmond;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5%;
}

.menu-options {
  display: flex;
  align-items: center;
  padding: 5% 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 10%);
  position: relative;
}

.menu-text {
  font-size: 20px;
  font-family: "spartan", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  height: 20px;
  margin-left: 5%;
}

.menu-options img {
  margin-top: 0;
  width: 10px;
  height: 15px;
  position: absolute;
  right: 5%;
}

.menu-options:link {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.menu-options:visited {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
/* Menu Icon Colors Start */

.mercury-icon {
  background-color: #def4fc;
}

.venus-icon {
  background-color: #f7cc7f;
}

.earth-icon {
  background-color: #545bfe;
}

.mars-icon {
  background-color: #ff6a45;
}

.jupiter-icon {
  background-color: #ecad7a;
}

.saturn-icon {
  background-color: #fccb6b;
}

.uranus-icon {
  background-color: #65f0d5;
}

.neptune-icon {
  background-color: #497efa;
}

/* Menu Icon Colors End */

.sub-header {
  display: flex;
  justify-content: space-around;

  position: relative;

  border-top: 1px hsl(0, 0%, 100%, 50%) solid;
  border-bottom: 1px hsl(0, 0%, 100%, 50%) solid;

  padding: 5%;

  text-transform: uppercase;
  font-family: "spartan", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: hsla(0, 0%, 100%, 0.502);
}

.overview,
.structure,
.surface {
  cursor: pointer;
}

.overview {
  color: hsl(0, 0%, 100%);
}

.overview-box {
  position: absolute;
  bottom: 0;
  left: 10.25%;

  width: 20%;
  height: 5px;

  background-color: hsla(194, 48%, 50%);
}

.structure-box {
  position: absolute;
  bottom: 0;
  left: 39%;

  width: 25%;
  height: 5px;

  background-color: hsla(194, 48%, 50%);
}

.surface-box {
  position: absolute;
  bottom: 0;
  right: 8.5%;

  width: 20%;
  height: 5px;

  background-color: hsla(194, 48%, 50%);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.img-container img {
  max-width: 25%;
  margin-top: 25%;
}

.img-surface-mercury {
  width: 15%;
  position: absolute;
  bottom: -25%;
}

.overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.overview-container h2 {
  display: flex;
  justify-content: center;
  margin-top: 25%;
  margin-bottom: 5%;

  text-transform: uppercase;
  font-family: "antonio", sans-serif;
  font-size: 4rem;
}

.overview-container h3 {
  font-family: "spartan", sans-serif;
  font-size: 1.1rem;
  line-height: 2.2rem;
  padding: 0 5%;
  font-weight: 400;
}

.source {
  font-family: "spartan", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.5rem;
  opacity: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
}

.source a:link {
  font-weight: 700;
  margin-left: 3px;
  color: hsl(0, 0%, 100%);
}

.source a:visited {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.source img {
  margin: 0;
  margin-left: 5px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 5%;
  padding-bottom: 10%;
}

.stat-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4% 5%;

  border: 1px solid hsl(0, 0%, 100%, 50%);
}

.stat-header {
  font-family: "spartan", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  opacity: 50%;
  letter-spacing: 0.73px;
}

.stat-number {
  font-size: 2.5rem;
  font-family: "antonio", sans-serif;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.75px;
}

.off {
  display: none;
}

@media (min-width: 600px) {
  .img-container img {
    margin: 10%;
  }

  .overview-container {
    flex-direction: row;
    width: 100vw;
  }

  .tablet-container {
    align-items: flex-start;
    text-align: left;
    margin-left: 5%;
    width: 50vw;
  }

  .overview-container h3 {
    margin: 0;
    padding: 0;
  }

  .overview-container h2 {
    margin-top: 5%;
  }

  .sub-header {
    display: none;
  }

  .sub-header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;

    margin-top: 5%;
    margin-bottom: 3%;

    text-transform: uppercase;
    font-family: "spartan", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: hsla(0, 0%, 100%, 0.502);
  }

  .overview,
  .structure,
  .surface {
    padding: 3%;
    width: 90%;
    background-color: hsl(240, 67%, 8%);
    margin: 2%;
    padding-top: 12px;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    color: hsla(0, 0%, 100%, 0.502);
  }

  .overviewtab {
    background-color: hsla(194, 48%, 50%, 1);
    color: hsl(0, 0%, 100%);
  }

  .stats {
    flex-direction: row;
    padding: 0 5% 5% 5%;
    justify-content: space-evenly;
  }

  .stat-flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2% 4% 2% 2%;
    border: 1px solid hsl(0, 0%, 100%, 20%);
    gap: 5%;
    width: 40%;
    /* color: #ffffff00; */
  }

  .stat-number {
    font-size: 2rem;
  }

  .stat-header {
    font-size: 1rem;
    margin-bottom: 12%;
  }

  .source {
    justify-content: left;
  }

  .hamburger-icon {
    display: none;
  }

  .nav {
    justify-content: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
    padding: 0 5%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 10%);
    background-color: rgba(255, 255, 255, 0);
  }

  .menu-icon {
    display: none;
  }

  .menu-options {
    border: none;
    padding: 0;
    padding-bottom: 3%;
  }

  .menu-options img {
    display: none;
  }

  .menu-options p {
    font-size: 1.1rem;
  }

  .menu-text {
    color: hsla(0, 0%, 100%, 0.75);
    letter-spacing: 1px;
  }

  .menu-text-highlight {
    color: hsl(0, 0%, 100%);
  }
}

@media (min-width: 1000px) {
  .overview-container {
    flex-direction: column;
    width: 50%;
    margin-bottom: 2%;
  }

  .tablet-container {
    width: 80%;
  }

  .sub-header1 {
    width: 83%;
    margin-top: 1%;
  }

  .desktop-container {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
  }

  .img-container {
    width: 100%;
  }

  .img-container img {
    max-width: 35%;
  }

  .nav {
    justify-content: start;
    display: none;
  }

  .desktop-title {
    display: flex;
    margin-right: 20%;
    font-size: 3rem;
    font-family: "antonio", sans-serif;
  }

  .menu {
    margin-top: 2%;
    align-items: center;
    padding-bottom: 2%;
  }

  .menu-options {
    padding: 0;
  }

  .menu-options p {
    font-size: 1.3rem;
    height: 0;
  }

  .overview-container h2 {
    font-size: 8rem;
    margin-top: 10%;
  }

  .overview-container h3 {
    font-size: 1.2rem;
  }

  .stat-number {
    font-size: 4rem;
  }

  .stat-header {
    font-size: 1.5rem;
  }

  .img-surface-mercury {
    bottom: -10%;
  }

  .stat-flex {
    padding: 1.5%;
    width: 20%;
  }
}
